APP_ENV=development

RABBITMQ_URL=amqp://finance_ai:finance_ai@rabbitmq:5672/

AI_WORKFLOW_SERVICE_PORT=8010
LLM_INTENT_PARSER_SERVICE_PORT=8011
AI_CONTEXT_BUILDER_SERVICE_PORT=8012
ANALYTICS_SERVICE_PORT=8013
LLM_RESPONSE_AGENT_SERVICE_PORT=8014

LLM_PROVIDER=openai
LLM_MODEL=gpt-4.1-mini
LLM_API_KEY=

AI_WORKFLOW_MAX_CONCURRENCY=3
AI_WORKFLOW_TIMEOUT_SECONDS=120

INTENT_PARSER_SERVICE_URL=http://llm-intent-parser-service:8011
CONTEXT_BUILDER_SERVICE_URL=http://ai-context-builder-service:8012
ANALYTICS_SERVICE_URL=http://analytics-service:8013
RESPONSE_AGENT_SERVICE_URL=http://llm-response-agent-service:8014
